@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #020617; /* Slate-950 fallback */
}

@keyframes blink {
  0%, 96%, 100% {
    transform: scaleY(1);
  }
  98% {
    transform: scaleY(0.05);
  }
}

.animate-eye-blink {
  animation: blink 5s infinite ease-in-out;
  transform-origin: center;
}
